/* Night Mode Button Styling */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8;
  color: #2f2f2f;     /* Standard font color */
  transition: 0.5s;
}

body.active {
  background-color: #000000;
}

body.active .hello-world,
body.active .containerGender,
body.active .slideContainer,
body.active .containerFitnessLevel,
body.active .containerInjuries,
body.active .containerTrainingGoals,
body.active .containerTrainingLocation,
body.active .checkboxCellWeeklySchedule, 
body.active .formatText, 
body.active .formatTitle, 
body.active label {
  color: white;
  border-color: white;
}

body.active h1,
body.active h2,
body.active h3,
body.active p,
body.active a {
  color: white;
}

#toggle {
  position: absolute;
  top: 1%;
  right: 1%;
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: #222;
  transition: 0.5s;
  cursor: pointer;
  box-sizing: inset 0 2px 15px rgba(0, 0, 0, 0.1), inset 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
}

#toggle .active {
  background: #fff;
  box-shadow: inset 0 0.5px 20px rgba(0, 0, 0, 0.1), inset 0 0.5px 2px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.05);
}

#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

#toggle.active .indicator {
  left: 20px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgb(255, 255, 255), inset 0 -1px 1px rgb(255, 255, 255);
}

/* Button Styling */

.waves {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-size: 1rem;
  background: radial-gradient(circle at center, rgba(54, 54, 54, 0.5) 0%, rgba(54, 54, 54, 0.7) 100%);
  cursor: pointer;
  transition: all 200ms ease-in-out;
  position: relative;
  overflow: hidden;
}
.waves:focus-visible {
  outline: 0.1rem solid #363636;
  outline-offset: 0.2rem;
}
.waves:active {
  scale: 0.95;
}
.waves .content-wrapper {
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.waves .wave-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.waves .wave-wrapper .wave {
  position: absolute;
  z-index: 1;
  width: 150%;
  border-radius: 100%;
  aspect-ratio: 1/1;
  background: radial-gradient(circle at center, rgba(54, 54, 54, 0) 0%, rgba(54, 54, 54, 0) 19%, rgba(54, 54, 54, 0.5) 70%, rgba(54, 54, 54, 0.5) 100%);
  animation: scale var(--time) ease-out forwards;
}

@keyframes scale {
  0% {
    scale: 0;
    opacity: 0;
  }
  60% {
    opacity: 1;
    scale: 1;
  }
  100% {
    scale: 1.2;
    opacity: 0;
  }
}
#TitleTextContainer {
  margin-bottom: 20px;
}

:root {
  --primary-color: #363636;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* General Format Classes */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  /* background-color: #f4f4f4; */
}

.format {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #2f2f2f;
  margin-bottom: 20px;
}

.spacer {
  height: 20px;
}

.formatTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #2f2f2f;
  margin-bottom: 20px;
}

.formatText {
  font-size: 18px;
  text-align: center;
  color: #2f2f2f;
  margin-bottom: 20px;
}


/* Format for triweekly training table */
.table-container {
  max-height: 80vh; /* Höhe auf maximal 80% der Bildschirmhöhe beschränken */
  max-width: 100vw; /* Maximal die gesamte Bildschirmbreite nutzen */
  overflow-y: auto; /* Vertikales Scrollen erlauben */
  overflow-x: auto; /* Horizontales Scrollen ermöglichen */
  top: 10vh; /* Abstand von oben, damit der Container nicht den oberen Rand berührt */
  left: 0;
  right: 0;
  margin: 0 auto; /* Zentriert den Container horizontal */
  white-space: nowrap; /* Verhindert das Umbrechen der Tabellenzellen */
}


/* Navigation Button Container */
#prevButton{
  display: none;
}

#nextButton{
  display: none;
}

.button-container {
  position: fixed;
  bottom: 0;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-between;
  padding: 10px; /* optional: Abstand vom unteren Rand */
}

/* Gender Container */
.containerGender {
  display: none;
  justify-content: center;
  align-items: center;
  height: 20vh;   /* ggf. anpassen */
}
.radioTileGroupGender {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputContainerGender {
  position: relative;
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
}
.inputContainerGender input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.inputContainerGender .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  transition: all 300ms ease;
}
.inputContainerGender ion-icon {
  color: var(--primary-color);
  font-size: 3rem;
}

/* Age Slider Container */
.ageSliderContainer {
  display: none;
}

.slider {
  -webkit-appearence: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(90deg, rgb(117,252,117) 60%, rgb(214,214,214) 60%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 1px black;
}

/* Fitness Level Container */
.containerFitnessLevel {
  display: none;
  justify-content: center;
  align-items: center;
  height: 20vh;   /* ggf. anpassen */
}
.radioTileGroupFitnessLevel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputContainerFitnessLevel {
  position: relative;
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
}
.inputContainerFitnessLevel input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.inputContainerFitnessLevel .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  transition: all 300ms ease;
}
.inputContainerFitnessLevel label {
  color: var(--primary-color);
  font-size: 0.60rem;
  font-weight: 600;
  text-transform:  uppercase;
  letter-spacing: 1px;
}
/* Injuries Container */
.containerInjuries {
  display: none;
  justify-content: center;
  align-items: center;
  height: 20vh;   /* ggf. anpassen */
}
.checkboxGroupInjuries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputContainerInjuries {
  position: relative;
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
}
.inputContainerInjuries input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.inputContainerInjuries .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  transition: all 300ms ease;
}
.inputContainerInjuries label {
  color: var(--primary-color);
  font-size: 0.60rem;
  font-weight: 600;
  text-transform:  uppercase;
  letter-spacing: 1px;
}
/* Training Goals Container */
.containerTrainingGoals {
  display: none;
  justify-content: center;
  align-items: center;
  height: 20vh;   /* ggf. anpassen */
}
.checkboxGroupTrainingGoals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputContainerTrainingGoals {
  position: relative;
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
}
.inputContainerTrainingGoals input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.inputContainerTrainingGoals .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  transition: all 300ms ease;
}
.inputContainerTrainingGoals label {
  color: var(--primary-color);
  font-size: 0.60rem;
  font-weight: 600;
  text-transform:  uppercase;
  letter-spacing: 1px;
}
/* Training Location Container */
.containerTrainingLocation {
  display: none;
  justify-content: center;
  align-items: center;
  height: 20vh;   /* ggf. anpassen */
}
.radioTileGroupTrainingLocation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputContainerTrainingLocation {
  position: relative;
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
}
.inputContainerTrainingLocation input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.inputContainerTrainingLocation .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  transition: all 300ms ease;
}
.inputContainerTrainingLocation label {
  color: var(--primary-color);
  font-size: 0.60rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Weekly Schedule Container */
.containerSchedule {
  display: none;
  justify-content: center;
  align-items: center;
  height: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  max-width: 600px;
  margin: 0 auto;
}
.checkboxCellWeeklySchedule {
  width: 14.2857%; /* Setze die Breite auf 100% / 7 Spalten */
  height: 7rem;
  width: 7rem;
  text-align: center;
  border: 2px solid var(--primary-color);
  position: relative;
}
.checkboxCellWeeklySchedule input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

@media (min-width: 600px) {
  .checkboxCellWeeklySchedule {
      width: 20%;     /* Change Width of cells for smaller screen*/
      width: 5rem;     /* Change Height of cells for smaller screen*/
  }

  .checkboxCellWeeklySchedule label {
      font-size: 0.1%;
  }

  .checkboxCellWeeklySchedule label[for="mondayCheckbox"]::after {
      content: "tag";
  }
  
  .checkboxCellWeeklySchedule label[for="tuesdayCheckbox"]::after {
      content: "enstag";
  }
  
  .checkboxCellWeeklySchedule label[for="wednesdayCheckbox"]::after {
      content: "twoch";
  }
  
  .checkboxCellWeeklySchedule label[for="thursdayCheckbox"]::after {
      content: "nnerstag";
  }
  
  .checkboxCellWeeklySchedule label[for="fridayCheckbox"]::after {
      content: "eitag";
  }
  
  .checkboxCellWeeklySchedule label[for="saturdayCheckbox"]::after {
      content: "mstag";
  }
  
  .checkboxCellWeeklySchedule label[for="sundayCheckbox"]::after {
      content: "nntag";
  }
}

.checkboxCellWeeklySchedule label {
  display: block;
  color: var(--primary-color);
  font-size: 0.60rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 'On Click' behavior for when only a single button can be selected */
input:checked + .radio-tile {
  background-color: var(--primary-color);
  box-shadow: 0 0 12px var(--primary-color);
}

input:hover + .radio-tile {
  box-shadow: 0 0 12px var(--primary-color);
}

input:checked + .radio-tile ion-icon,
input:checked+ .radio-tile label {
  color: white;
}

/* 'On Click' behavior for when multiple buttons can be selected */
input:checked + .checkbox-tile {
  background-color: var(--primary-color);
  box-shadow: 0 0 12px var(--primary-color);
}

input:hover + .checkbox-tile {
  box-shadow: 0 0 12px var(--primary-color);
}

input:checked + .checkbox-tile label {
  color: white;
}

/* 'On Click' behavior for selecting training days */
input:checked + label {
  background-color: var(--primary-color);
  color: white;
}

input:hover + label {
  box-shadow: 0 0 12px var(--primary-color);
}

p {
  margin-top: 50px;
  opacity: 0.7;
} 

.slideContainer {
  display: none;
  width: 40%;
  margin-bottom: 20px;
}

.slider::after {
  content: '100';
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  position: absolute;
  left: 67%;
  bottom: 44%;
}

.slider::before {
  content: '0';
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  position: absolute;
  left: 31%;
  bottom: 44%;
}

.slider {
  -webkit-appearence: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(90deg, rgb(117,252,117) 60%, rgb(214,214,214) 60%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 1px black;
}

.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

/* Trainings Übungen Buttons */
.exercise-button {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
}
.exercise-button:hover {
  background-color: #ddd;
}

