$dark: #363636;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8;
    transition: 0.5s;
}

body.active {
    background-color: #2b2b2b;
}

#toggle {
    position: absolute;
    top: 1%;
    right: 1%;
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-sizing: inset 0 2px 15px rgba(0,0,0,0.1),
                inset 0 2px 2px rgba(0,0,0,0.1),
                inset 0 -1px 1px rgba(0,0,0,0.1);
}

#toggle .active {
    background: #fff;
    box-shadow: inset 0 0.5px 20px rgba(0,0,0,0.1),
                inset 0 0.5px 2px rgba(0,0,0,0.1),
                inset 0 -1px 1px rgba(0,0,0,0.05);
}

#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 2px 10px rgba(0,0,0,0.5),
                inset 0 1px 1px rgba(255,255,255,0.2),
                inset 0 -1px 1px rgba(255,255,255,0.2);
    transition: 0.5s;
}

#toggle.active .indicator {
    left: 20px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5),
                inset 0 1px 1px rgba(255,255,255,1),
                inset 0 -1px 1px rgba(255,255,255,1);
}

.waves {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-size: 1rem;
    background: radial-gradient(
        circle at center,
        rgba($dark, 0.5) 0%,
        rgba($dark, 0.7) 100%
    );
    cursor: pointer;
    transition: all 200ms ease-in-out;
    position: relative;
    overflow: hidden;
    &:focus-visible{
        outline: 0.1rem solid $dark;
        outline-offset: 0.2rem;
    };
    &:active{
        scale: 0.95;
    }
    .content-wrapper{
        position: relative;
        z-index: 2;
        pointer-events: none;
    }
    .wave-wrapper{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        .wave{
            position: absolute;
            z-index: 1;
            width: 150%;
            border-radius: 100%;
            aspect-ratio: 1 / 1;
            background: radial-gradient(
                circle at center,
                rgba($dark, 0) 0%,
                rgba($dark, 0) 19%,
                rgba($dark, 0.5) 70%,
                rgba($dark, 0.5) 100%
            );
            animation: scale var(--time) ease-out forwards;
        }
    }
}

@keyframes scale {
    0% {
        scale: 0;
        opacity: 0;
    }
    60% {
        opacity: 1;
        scale: 1;
    }
    100% {
        scale: 1.2;
        opacity: 0;
    }
}

#questionContainer {
    margin-bottom: 20px;
}

